#sayfa
{background-image: linear-gradient(to right bottom, #a183d3, #d382c2, #f288ab, #ff9794, #ffad84, #efbb7b, #d9c97e, #c0d58c, #9dd6a1, #80d4b8, #72cfcc, #78c7d9);}

#logo
{width: 30px; height: 30px;}

.başlık{

    color: #ffffff;
    text-align: center;
}

.açıklama{

    color: rgb(255, 255, 255);
    text-align: center;
    font-size: x-large;
}

img
{
    width: 300px;
    height: 250px;
}

.dropdown-item
{
    color:#FFC75F ;
    font-weight: bold;
}

#altbaşlık{

    color: #ffffff;
    margin-left: 50px;
    text-decoration: underline;
}
.nav-link
{
    font-weight: bold;

}